@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 ;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

  border-radius: 5px;
  position: absolute;
  padding: 2.5rem;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 

  
 

  
  
}

.TodoForm {
  width: 100%;
  
}

.todo-input {
  outline: none;
  background: none;
  border: 3px groove #8074eb;
  padding: 0.55rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: #000000;
}

.todo-input::placeholder {
  color: #0000004d;
}

.todo-btn {
  background-image: radial-gradient( circle 341px at 10% 20%,  rgba(132,94,194,1) 0%, rgba(196,243,251,1) 90% );
  color: #000000;
  border: none;
  padding: 10px 30px;
  width: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8074eb;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  color: #000000;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #220175;
  text-decoration: line-through;
  opacity: 0.7;
}